.login-wrapper{
  overflow: hidden;
}

label {
    font-size: 12px;
    opacity: .8;
  }

.form-block {
    display: flex;
    flex-direction: row;
    margin: 5rem auto;
    width: 40%;
    height: auto;
    background: #fefefe;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -1px black;
  }
  
.form-block form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 30px;
  }
  
.form-block form .input {
    color: black;
    font-weight: 400;
    font-size: 16px;
    padding: 20px 0px;
    height: 55px;
    min-width: 280px;
    border: none;
    border-bottom: solid 1px #555;
    box-sizing: border-box;
    transition: all .3s linear;
  }
  
.form-block form .input:focus {
    outline: none;
  }
  
.form-block form .floating-label {
    position: relative;
    margin-bottom: 10px;
    z-index: 1;
  }
  
.form-block form .floating-label label {
    position: absolute;
    top: calc(50% - 7px);
    left: 0;
    opacity: 0;
    transition: all .3s ease;
  }
  
.form-block form .floating-label input:not(:placeholder-shown) {
    padding: 28px 0px 12px 0px;
  }
  
.form-block form .floating-label input:not(:placeholder-shown) + label {
    transform: translateY(-10px);
    opacity: .7;
  }
  
.form-block .side-image {
    width: 30%;
    height: auto;
    min-height: 100%;
    position: relative;
    background-image: linear-gradient(rgba(41, 124, 219, 0.875), #044aa4, black);
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
.form-block .radio-buttons {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
.form-block .radio-buttons label {
    color: #333;
    font-weight: 400;
    font-size: 17px;
  }
  
.form-block #show-group, .form-block #show-subject {
    display: none;
    padding-bottom: 1rem;
  }
  
.form-block button {
    color: white;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    padding: .75rem 1.25rem;
    border: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-radius: 10rem;
    transition: all .3s;
    overflow: hidden;
    z-index: 1;
  }
  
.form-block button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 124, 219, 0.875);
    border-radius: 10rem;
    z-index: -2;
  }
  
.form-block button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(23, 75, 135, 0.875);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  
.form-block button:hover:before {
    width: 100%;
  }
  
.form-block .dropdown-content {
    display: none;
    z-index: 1;
  }
  
.form-block .dropdown-content a {
    padding-bottom: 10px;
    padding-top: 5px;
    text-decoration: none;
    color: #777;
  }
  
.form-block .dropdown-content a:visited {
    color: #777;
  }
  
.form-block .dropdown-content a:hover {
    color: #333;
  }
  
.form-block .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  
  @media only screen and (max-width: 900px) {
    .form-block {
      width: 70%;
    }
    .side-image{
        width: 50%
    }
    .form-block form .input {
      width: 100%;
      min-width: 0;
    }
  }

.form-block h3 {
    color: #777;
    font-weight: 400;
    font-size: 18px;
  }
  
.form-block h3 a {
    text-decoration: none;
    color: rgba(51, 51, 51, 0.5);
  }
  
.form-block h3 a:hover {
    color: rgba(41, 124, 219, 0.875);
  }

  :root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 8px;
    --speed: 500ms;
  }
   
  a {
    text-decoration: none;
  }

  
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
  }
  
  .dropdown-menu ul li{
    padding: 5px  0;
    border-top: 1px  rgba(0, 0, 0, 0.05);
    justify-content: left;
    
  }

  
  .dropdown-menu ul li:hover a{
    background-color: #3d95ecd4;
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    color: black;
  }
  
  .dropdownItem a{
    max-width: 150px;
    transition: var(--speed);
  }
  
  #dropdown-title{
    width: 100%;
    text-align: left;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
  }
  
 .role-btn {
    border: 1.25px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 450;
    outline: none;
    padding: 10px 25px;
    position: relative;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    height: fit-content;
  }
  
  .role-btn:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }

  #invalid {
    box-shadow: 4px 2px 6px rgb(192, 8, 8)
  }

