.teacher-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 900px;
    gap: 15px;
  }
  
  .teacher-list > * {
    flex: 1 1 160px;
  }
  
  .teacher {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    width: calc(50% - 10px);
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 25px;
    align-items: end;
  }
  
  .teacher .key {
    text-align: left;
    color: #333;
    font-weight: 400;
    font-size: 18px;
  }
  
  .teacher .value {
    text-align: justify;
    color: #555;
    font-weight: 400;
    font-size: 18px;
  }
  
  h1 {
    text-align: center;
    padding: 2rem;
  }
  
  .key h3 {
    color: black;
    font-weight: 450;
    font-size: 20px;
    position: relative;

  }
  
  .key h3:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-image: linear-gradient(to right, rgba(41, 124, 219, 0.875), #044aa4, #2a2929);
  }
